<h1><%= @event.name %></h1>
<ul>
  <li>Event Creator: <%= @event.creator.name %></li>
  <li>Location: <%= @event.location %></li>
  <li>Times: <%= @event.starts_at %> - <%= @event.ends_at %></li>
</ul>
